/* @import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans:wght@700&family=Poppins:wght@400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #8e8ed7;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 120px;
  height: 125px;
  margin: auto;
  margin-bottom: 20px;
}

.welcome {
  font-family: "Satisfy", "cursive";
  font-size: 38px;
  text-align: left;
}
.title {
  font-size: 27px;
}

.btn-action {
  height: 50px;
  width: 150px;
  border: 0;
  color: white;
  background-color: #5872ce;
  border-radius: 5px;
}

.btn-action:disabled {
  opacity: 0.8;
}

.btn-get-started {
  align-self: flex-end;
}

.step {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
  /* max-width: 700px; */
  width: 700px;
}

/* .step2 > form {
  margin: auto;
  font-family: "Open Sans", sans-serif;
}
.step2 {
  width: 350px;
} */

.pr-font {
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
}

.accept-terms {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.question {
  font-family: "Pacifico", cursive;
  font-size: 20px;
}

.answer {
  display: flex !important;
  flex-direction: column;
  position: relative;
}

.answer input {
  display: none;
}

.checkmark {
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  background-color: #2196f3;
}
.envelope {
  color: #233475;
  text-align: center;
  font-size: 3rem;
}
.choiceBtn {
  justify-content: right;
}
.continueBtn {
  margin-right: 5px;
}
.option {
  display: flex;
  flex-direction: column;
}
.radio {
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  background-color: #dbdbdb;
}
.radioSpacing {
  margin-right: 7px;
}
.radio:hover {
  background-color: #e6e6e6;
}
.icon {
  font-size: 20px;
}
.success {
  color: #00e676 !important;
}
.navig {
  justify-content: space-between;
}
.red {
  color: #ec4545;
}
.align-left {
  text-align: left;
}

@media only screen and (max-width: 580px) {
  .step {
    width: 510px;
  }
}
@media only screen and (max-width: 430px) {
  .step {
    width: 350px;
  }
}
